* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Rockwell, Roboto, Lato, Helvetica, Arial, sans-serif;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  height: 100%;
}

aside {
  width: 250px;
  background-color: #282C2F;
}

aside h2, aside h3 {
  text-decoration: none;
  color: white;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

a, a:hover, a:visited, a:active {
  color: inherit;
}

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  flex: 1;
  min-height: 100vh;
}

.canvas {
  width: calc(100% - 200px);
  border: solid 1px lightgray;
  border-top: none;
  border-bottom: none;
  position: relative;
  height: 100vh;
  flex: 1;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100vh;
  flex: 1;
}

.selected {
  height: 75%;
}
h2, .selected{
  text-align: center;
}

.info {
  height: 25%;
  text-align: center;
}

.properties {
  margin-top: 10px;
}

.shape {
  margin: 10px;
  height: 100px;
  width: 150px;
}

.circle {
  width: 100px;
  border-radius: 50%;
}

.interpreterT {
  float: left;
  width: 600px;
  height: 200px;
  background-image: url('./images/interT.PNG');
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

.translatorT {
  float: left;
  width: 300px;
  height: 200px;
  background-image: url('./images/transT.PNG');
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

.programT {
  float: left;
  width: 300px;
  height: 200px;
  background-image: url('./images/progT.PNG');
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

.machineT {
  float: left;
  width: 300px;
  height: 200px;
  background-image: url('./images/machT.PNG');
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

.translatorJ {
  float: left;
  width: 300px;
  height: 200px;
  background-image: url('./images/transJ.PNG');
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

.interpreterJ {
  float: left;
  width: 300px;
  height: 200px;
  background-image: url('./images/interJ.PNG');
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

.compilerJ {
  float: left;
  width: 150px;
  height: 100px;
  background-image: url('./images/compJ.PNG');
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

.machineJ {
  float: left;
  width: 150px;
  height: 100px;
  background-image: url('./images/machJ.PNG');
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}

.key {
  color: lightslategray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  height: 25px;
}

.value {
  color: white;
  font-weight: bolder;
}

.no-data {
  color: lightslategray;
}

/*------ Style 1 ------*/
#style1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#style1::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#style1::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

.buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.buttons button {
  margin: 4px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: lightgray;
  transition: all 0.25s ease-in;
  z-index: 10;
  padding: 0 8px;
  border-radius: 4px;
}

.buttons button:hover {
  background: darkgray;
}
